# For S3 Board
#
NET "clk" LOC = "T9" ; 
NET "external_reset" LOC = "L14" ;

# S3 Board con el conector de postes puesto el conector de expansión B1, en los pines 4, 6, 8, 10 y 12
NET "serial_tx" LOC = "E10" ; 
NET "serial_rx" LOC = "C11" ;

# S3 Board Leds
NET "led<0>"  LOC = "K12"  ;
NET "led<1>"  LOC = "P14"  ;
NET "led<2>"  LOC = "L12"  ;
NET "led<3>"  LOC = "N14"  ;
NET "led<4>"  LOC = "P13"  ;
NET "led<5>"  LOC = "N12"  ;
NET "led<6>"  LOC = "P12"  ;
NET "led<7>"  LOC = "P11"  ;

# S3 Board seven segment displays (x4)
NET "if7seg_do<0>"  LOC = "E14" ;  # A
NET "if7seg_do<1>"  LOC = "G13" ;  # B
NET "if7seg_do<2>"  LOC = "N15" ;  # C
NET "if7seg_do<3>"  LOC = "P15" ;  # D
NET "if7seg_do<4>"  LOC = "R16" ;  # E
NET "if7seg_do<5>"  LOC = "F13" ;  # F
NET "if7seg_do<6>"  LOC = "N16" ;  # G
NET "if7seg_do<7>"  LOC = "P16" ;  # DP


# S3 Board AN enable/disable signals for 7-seg displays, active low
NET "if7seg_an<0>"  LOC = "D14" ; 
NET "if7seg_an<1>"  LOC = "G14" ; 
NET "if7seg_an<2>"  LOC = "F14" ; 
NET "if7seg_an<3>"  LOC = "E13" ; 

